@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

[type="text"] {
    border: 1px solid #b3b3b3;
}

[type="text"]:focus {
    border: 1px solid #1A2130;
    outline: none !important;
    box-shadow: none !important;
}

[type="password"]:focus {
    border: 1px solid #1A2130;
    outline: none !important;
    box-shadow: none !important;
}

[type="checkbox"] {
    color: #06b6d4 !important;
}

[type="checkbox"]:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

[type="checkbox"]:hover {
    cursor: pointer;
}

.brand-link {
    color: #fdfdff !important;
}

/* PreLoader */
.preloader {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite
}

.load :first-child {
    background: #03AED2;
    animation-delay: -1.5s
}

.load :nth-child(2) {
    background: #F63D3A;
    animation-delay: -1s
}

.load :nth-child(3) {
    background: #FDDE55;
    animation-delay: -0.5s
}

.load :last-child {
    background: #1A2130
}

/* NavBar */
.main-header {
    background-color: #ffffff !important;
    border-bottom: 1px solid #03AED2;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.dropdown-menu {
    border: 1px solid #03AED2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0 !important;
}

.locale .dropdown-item.active {
    background-color: #03AED2 !important;
}

/* SideBar */
.main-sidebar {
    background: #03aed2;
    background: -webkit-linear-gradient(165deg, #03aed2 0%, #0395b4 100%);
    background: linear-gradient(165deg, #03aed2 0%, #0395b4 100%);
}

.brand-link {
    border: none !important;
}

.nav-icon {
    font-size: 15px !important;
}

.sidebar .nav-header {
    font-size: 13px !important;
    color: #f3f3f3 !important;
    font-weight: 600 !important;
}

.sidebar .nav-link {
    color: #f3f3f3 !important;
    font-size: 15px !important;
}

.sidebar .nav-link.active {
    color: #1A2130 !important;
    background-color: #FDDE55 !important;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px !important;
}

/* Main Content */
.content-header {
    padding: 15px !important;
}

.content-wrapper {
    background-color: #f1f5f9 !important;
}

.breadcrumb-wrapper {
    border: 1px solid #03AED2;
    padding: 5px 10px;
    background-color: #f0f9ff;
    border-radius: 5px;
}

.breadcrumb {
    gap: 10px !important;
}

.breadcrumb-item {
    color: #6b7280 !important;
}

.breadcrumb-item.active {
    color: #03AED2 !important;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0 !important;
}

.info-box,
.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-group-append .input-group-text {
    padding: 0 .8rem !important;
    background-color: #03AED2 !important;
    color: #f5f5f5;
}

.page-card {
    padding: .5rem 1rem;
}

.search-wrapper {
    border: 1px solid #d1d5db;
}

.search-wrapper:focus-within {
    border: 1px solid #3e4e72;
    border-right: none;
}

.search-wrapper .search-input {
    border: none;
    height: 100%;
    width: 100%;
    background-color: #f9fafb;
}

.search-button {
    background-color: #03AED2
}

.card-table-header .card-table-title {
    border: 1px solid #1A2130;
    border-radius: .2rem .2rem 1rem .2rem;
    background-color: #1A2130;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: .5rem 5rem .5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    color: #f5f5f5;
}

.card-table-header .card-table-buttons {
    /* padding: .7rem 1.3rem .3rem 1rem; */
    padding: .5rem 1rem;
}

.card .card-footer {
    background-color: #ffffff !important;
    border-top: 1px solid rgba(0, 0, 0, .125)
}

.show-sort-container,
.show-items-container {
    display: inline-block;
}

.show-sort-container {
    font-size: 13px;
    margin-right: .5rem;
    display: inline;
}

.show-sort-container .show-items {
    width: 100px;
}

.show-items-container {
    text-align: right;
    font-size: 13px;
}

.show-items {
    background-color: #f9fafb;
    border: 1px solid #b3b3b3;
    border-radius: .1rem;
    padding: 4px;
    margin-left: .5rem;
    color: #1A2130;
    font-size: 13px;
    min-width: 65px;
    padding-left: 10px;
    box-shadow: none !important;
    outline: none !important;
    cursor: pointer;
}

.show-items:focus {
    border: 1px solid #3e4e72;
    outline: none !important;
    box-shadow: none !important;
}

table thead tr th {
    padding: 0.15rem !important;
    border-bottom: 2px solid #03AED2 !important;
}

table tbody td {
    padding: 0.15rem !important;
    vertical-align: middle !important;
}

.pagination .page-link {
    color: #808080 !important;
}

.pagination .page-item.active .page-link {
    border: 1px solid #03AED2;
    background-color: #03AED2 !important;
    color: #ffffff !important;
}

.pagination .page-item.disabled {
    cursor: not-allowed !important;
}

.pagination .page-item.disabled .page-link {
    background-color: #f3f4f6;
    pointer-events: none !important;
}

/* Footer */
.main-footer {
    background-color: #ffffff !important;
    border-top: 1px solid #03AED2;
    border-style: dashed;
}

/* Modal */
.custom-modal {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.3);
}
  
.modal-fade-enter-active, .modal-fade-leave-active {
	transition: all 0.2s ease-in-out;
}

.modal-fade-leave-active {
  transition-delay: 0.2s;
}

.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active .modal-dialog,
.modal-fade-leave-active .modal-dialog { 
  transition: all 0.15s ease-in-out;
}

.modal-fade-enter-active .modal-dialog {
	transition-delay: 0.25s;
}

.modal-fade-enter-from .modal-dialog,
.modal-fade-leave-to .modal-dialog {
  transform: translateY(-30px);
  opacity: 0.001;
}

.modal-header {
    border-bottom: 1px solid #03AED2;
}

.modal-content {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.modal-footer {
    border-top: 1px solid #03AED2;
    border-style: dashed;
}

/* Login Layout */

section#accueil {
    background: #ecf6f8;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.triangle_vert {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -100px;
    margin-bottom: -200px;

    background: #fef2ba;
    width: 120%;
    height: 300px;

    -webkit-animation: triangle_v 20s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
    -ms-animation: triangle_v 20s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
    animation: triangle_v 20s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
}

.form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.triangle_rose {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -100px;
    margin-top: -150px;

    background: #71e5fd;
    width: 120%;
    height: 250px;

    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);

    -webkit-animation: triangle_r 20s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
    -ms-animation: triangle_r 20s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
    animation: triangle_r 20s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
}

section#accueil>header {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -50px;

    width: 100%;
    height: 100px;
    text-align: center;
}

section#accueil header>h1 {
    position: initial;
    font-family: Arial, sans-serif;
    color: #f96457;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.4em;
    margin-top: 20px;
}

/* Login Form */

.container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container #flip:checked~.cover {
    transform: rotateY(-180deg);
}

.container .cover .front,
.container .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cover .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover::before,
.container .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #03AED2;
    opacity: 0.5;
    z-index: 12;
}

.container .cover::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.container .cover .text {
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .13em;
    animation:
        typing 4.5s steps(40, end),
        blink-caret .75s step-end infinite;
    animation-iteration-count: infinite;
}

.container .forms {
    height: 100%;
    width: 100%;
    background: #fff;
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #03AED2;
}

.forms .signup-form .title:before {
    width: 20px;
}

.forms .form-content .input-boxes {
    margin-top: 30px;
}

.forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border-color: #03AED2;
}

.form-content .input-box i {
    position: absolute;
    color: #03AED2;
    font-size: 17px;
}

.forms .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .text a {
    text-decoration: none;
}

.forms .form-content .text a:hover {
    text-decoration: underline;
}

.forms .form-content .button {
    color: #fff;
    margin-top: 40px;
    text-align: center !important;
}

.forms .form-content .button {
    color: #fff;
    background: #03AED2;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.forms .form-content .button input:hover {
    background: #0284a0;
}

.forms .form-content label {
    color: #0284a0;
    cursor: pointer;
}

.forms .form-content label:hover {
    text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
}

.container #flip {
    display: none;
}

@media (max-width: 730px) {
    .container .cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }

    .form-content .signup-form {
        display: none;
    }

    .container #flip:checked~.forms .signup-form {
        display: block;
    }

    .container #flip:checked~.forms .login-form {
        display: none;
    }
}

@-webkit-keyframes triangle_v {
    0% {
        -webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
        -ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
        transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotate(7deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
        -ms-transform: rotate(7deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
        transform: rotate(7deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    }

    50% {
        -webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
        -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
        transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    }

    75% {
        -webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
        -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
        transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    }

    100% {
        -webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
        -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
        transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    }
}

@-ms-keyframes triangle_v {
    0% {
        -webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
        -ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
        transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
        -ms-transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
        transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    }

    50% {
        -webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
        -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
        transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    }

    75% {
        -webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
        -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
        transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    }

    100% {
        -webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
        -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
        transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    }
}

@keyframes triangle_v {
    0% {
        -webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
        -ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
        transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
        -ms-transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
        transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    }

    50% {
        -webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
        -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
        transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    }

    75% {
        -webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
        -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
        transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    }

    100% {
        -webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
        -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
        transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    }
}

@-webkit-keyframes triangle_r {
    0% {
        -webkit-transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
        -ms-transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
        transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
        -ms-transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
        transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    }

    50% {
        -webkit-transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
        -ms-transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
        transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    }

    75% {
        -webkit-transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
        -ms-transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
        transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    }

    100% {
        -webkit-transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
        -ms-transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
        transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    }
}

@-ms-keyframes triangle_r {
    0% {
        -webkit-transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
        -ms-transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
        transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
        -ms-transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
        transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    }

    50% {
        -webkit-transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
        -ms-transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
        transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    }

    75% {
        -webkit-transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
        -ms-transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
        transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    }

    100% {
        -webkit-transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
        -ms-transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
        transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    }
}

@keyframes triangle_r {
    0% {
        -webkit-transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
        -ms-transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
        transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
        -ms-transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
        transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);
    }

    50% {
        -webkit-transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
        -ms-transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
        transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);
    }

    75% {
        -webkit-transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
        -ms-transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
        transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);
    }

    100% {
        -webkit-transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
        -ms-transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
        transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: transparent;
    }
}

@keyframes spin {

    0%,
    100% {
        transform: translate(0)
    }

    25% {
        transform: translate(160%)
    }

    50% {
        transform: translate(160%, 160%)
    }

    75% {
        transform: translate(0, 160%)
    }
}